/* ///////////////////////////Responsive Home/////////////// */
/* //////Tablette//////////////// */
@media screen and (max-width: 980px) and (min-width: 781px) {

    .header,
    .welcome{
        /* display: flex; */
        flex-direction: column;
    }

    .heade a {
        display: flex;
        flex-direction: column;
    }

    .header {
        width: 100%;
    }

    nav {
        justify-content: space-around;
        width: 100%;
        background-color: var(--crl-second);
    }

    .location {
        float: none;
        width: 90%;
    }

    .art-menu{
        display: flex;
        flex-direction: column;
    }
    .bs-page{
        display: flex;
        justify-content: space-around;
    }
    /* /////About///// */
    video{
        width: 100%;
    }
}

/* ///////////Mobile//////////// */
@media screen and (max-width: 780px){
    .header,
    .welcome,
    .bs-page {
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
        
    }
    .header ul{
        justify-content: center;
        gap: 0;
        padding-inline: 0;
        padding-block: 0;
    }
    nav li{
        border: 1px solid var(--crl-principale);
    }
    .heade a {
        display: flex;
        flex-direction: column;
    }

    .header {
        width: 100%;
    }

    nav {
        justify-content: space-around;
        width: 100%;
        background-color: var(--crl-second);
    }

    .location {
        float: none;
        width: 90%;
    }

    .art-menu{
        display: flex;
        flex-direction: column;
    }
    .bs-page{
        display: flex;
        justify-content: space-around;
    }
    video{
        width: 100%;
    }
    /* /////About//// */
    .dinsalle{
        grid-template-columns: 1fr;
    }
    /* ///////////Menu/////////// */
    .gallery,
    .desert,
    .cocktail{
        grid-template-columns: repeat(2, 1fr);
    }
    /* //////////Contacts//////// */
    .fil2{
        flex-basis: 100%;
    }
}

/* ///////////// */